.container {
  max-width: 960px;
  margin: 0 auto;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Increase the minimum width */
  grid-gap: 20px;
}

.user-card {
  padding: 20px;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .user-list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .user-list {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
